
#query {
    width: 75%;
    height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.poiList {
    background-color: white;
    opacity: 0.9;
    padding: 10px 20px;
    position: absolute;
    z-index: 10;
    height: 100vh;
}
